/* 
Beaverhacks Fall 2022
Team: "It's not a bug, it's a feature"
Date: 10/8/2022
Description:  Styles for HTML pages

*/

html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 10px;
  padding: 10px;
  /* padding: 25px; */
  text-align: center;
}

.table-style {
  text-align: left;
}

#archive-div {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

#archive-table {
  align-self: center;
  width: 100%;
}

#archive-table td {
  padding: 10px;
  /* padding: 10px 30px; */
}

#archive-btn {
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  height: 30px;
  width: 100px;
  background-color: rgb(33, 156, 228);
  color: white;
  border: none;
  border-radius: 20px;
  transition: all 250ms ease;
  font-weight: bold;
}

#archive-btn:hover {
  background-color: rgb(153, 218, 255);
}

#add-btn {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100px;
  background-color: rgb(33, 156, 228);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#added-to {
  margin: 20px;
}

#archive-cleared {
  margin: 20px;
}

#cancel-btn {
  margin: 10px 0 10px 0;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100px;
  background-color: rgb(211, 79, 79);
  color: white;
  border: none;
  border-radius: 20px;
}

#delete-btn {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100px;
  background-color: rgb(211, 79, 79);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

#clear-archive-btn {
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100px;
  background-color: rgb(215, 114, 13);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

#qrchive-logo {
  height: 8em;
}

#qr-canvas {
  margin-top: 55px;
  border-radius: 5px;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  margin: 20px;
  height: 9em;
  background: white;
}

#qr-result {
  margin: 30px;
}

#outputData {
  margin-right: 20px;
}

#credits {
  font-size: x-small;
  font-style: italic;
  font-weight: lighter;
  margin-top: 50px;
}