/* 
Date: 10/6/2022
Description:  Styles for HTML pages
*/

/*  TO DO: Everything */

html {
    height: 100%;
  }
  
  body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
  }

  ul {
      list-style-type: none;
  }

  a {
      color: white;
      text-decoration: none;
  }

  .container {
      margin: 10px;
      padding: 10px;
      text-align: center;
  }

  #archive-div {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  #archive-table {
      align-self: center;
  }

  #archive-table td {
      padding: 10px 30px;
  }

  #archive-btn {
      cursor: pointer;
      position: relative;
      margin-top: 20px;
      height: 30px;
      width: 100px;
      background-color: rgb(33, 156, 228);
      color: white;
      border: none;
      border-radius: 20px;
  }

  #add-btn {
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 100px;
    background-color: rgb(33, 156, 228);
    color: white;
    border: none;
    border-radius: 20px;
  }

  #cancel-btn {
    margin: 10px 0 10px 0;
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 100px;
    background-color: rgb(211, 79, 79);
    color: white;
    border: none;
    border-radius: 20px;
  }

  #qrchive-logo {
    height: 8em;
  }
  
  #qr-canvas {
    margin-top: 100px;
    width: calc(100% - 20px);
    max-width: 400px;
  }
  
  #btn-scan-qr {
    cursor: pointer;
  }
  
  #btn-scan-qr img {
    height: 10em;
    background: white;
  }

  #qr-result {
      margin-top: 20px;
  }

  #outputData {
      margin-right: 20px;
  }